<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745616957132-5egjdvcteeqfn2ll7pavvduu4b9oe8ic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745616957132-5egjdvcteeqfn2ll7pavvduu4b9oe8ic</string>
	<key>API_KEY</key>
	<string>AIzaSyCZYOXbK_iNZgtYjwtdyVl2CdgLoUCBp-0</string>
	<key>GCM_SENDER_ID</key>
	<string>745616957132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nativeAddExample</string>
	<key>PROJECT_ID</key>
	<string>bouggr-4bd2b</string>
	<key>STORAGE_BUCKET</key>
	<string>bouggr-4bd2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745616957132:ios:8403ba6294e54a8d9aec69</string>
</dict>
</plist>